
<footer class="footer">
  <div class="container">
    <span class="text-muted">QuickNote &copy; 2017</span>
    <br>
    <span class="text-muted">By Nathanel Mizrahi</span>
    <a target="_blank" href="https://www.facebook.com/natanel.mizrahi.5">
    	<img class="footer-icon" src="/images/fb-icon.png">
    </a>
  </div>
</footer>