	<head>
		<title><%= locals.path %> &bull; QuickNote</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" 	   href="/images/logo-dark.png">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/style/style.css">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">

		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<script src="/bootstrap/js/bootstrap.min.js">
			//the backslash in the beginning makes it an absolute url, meaning any route will access this path.
		</script>
	</head>