<!DOCTYPE html>
<%- include("includes/head") %>
<body class="dark-bg">
	<%- include("includes/nav") %>
	<div class="container">
      <div class="jumbotron jumbotron-fluid" style="margin-top:30px; background: rgba(238,238,238, 0.8); ">
        <h1>About Us</h1>
        <p class="lead">QuickNote is designed to be an easy to use, dynamic and intuitive notes storage app. </p>
        <p>Created by Nathanel Mizrahi &copy; 2017</p>
        <a class="btn btn-lg btn-primary" href="/notes" role="button"> Get Started &raquo;</a>
      </div>
    </div>
    <%- include("includes/footer") %>
</body>